@import "vars";
@import "reset";

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;

    color: $text-color;
}

.box {
    padding: 20px;

    border-radius: 5px;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active,
.slide-down-enter-active,
.slide-down-leave-active {
    transition-duration: 0.3s;
    transition-property: height, opacity, transform;
    transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
}

.slide-left-enter,
.slide-right-leave-active {
    opacity: 0;

    transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
    opacity: 0;

    transform: translate(-2em, 0);
}

.slide-down-enter {
  opacity: 0;

  transform: translate(0, 2em);
}

.slide-down-leave-active {
  opacity: 0;

  transform: translate(0, -2em);
}